In [68]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [69]:
df = pd.read_csv("data/cars_data.csv")
df.head()

,Name,Price,Năm SX,Kiểu dáng,Tình trạng,Xuất xứ,Km đã đi,Tỉnh thành,Quận huyện,Hộp số,Nhiên liệu,Số tiền vay,Thời gian vay,Lãi xuất (%),Loại hình,Giá trị xe muốn mua
0,Mercedes-Benz AMG G63 4.0 v8 2021,9 tỉ 200 triệu,2021,SUV,Xe cũ,Nhập khẩu,30.000 km,Hà Nội,Tây Hồ,Số tự động,Máy xăng,VNĐ,ThángNăm,ThángNăm,"Trả góp đều hàng thángTrả góp đều, lãi tính tr...",VNĐ
1,Mercedes-Benz E250 2023,870 triệu,2023,Sedan,Xe cũ,Nhập khẩu,45.000 km,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,VNĐ,ThángNăm,ThángNăm,"Trả góp đều hàng thángTrả góp đều, lãi tính tr...",VNĐ
2,Toyota Camry 2.4G 2012,360 triệu,2012,Sedan,Xe cũ,Trong nước,120.000 km,Hà Nội,NaN,Số tự động,Máy xăng,VNĐ,ThángNăm,ThángNăm,"Trả góp đều hàng thángTrả góp đều, lãi tính tr...",VNĐ
3,Ford Territory Titanium X 2023,770 triệu,2023,SUV,Xe cũ,Nhập khẩu,27.000 km,Tp.HCM,Quận 10,Số tự động,Máy xăng,VNĐ,ThángNăm,ThángNăm,"Trả góp đều hàng thángTrả góp đều, lãi tính tr...",VNĐ
4,Mazda CX-5 2022,740 triệu,2022,SUV,Xe cũ,Trong nước,30.000 km,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,VNĐ,ThángNăm,ThángNăm,"Trả góp đều hàng thángTrả góp đều, lãi tính tr...",VNĐ

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727 entries, 0 to 726
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 727 non-null    object
 1   Price                727 non-null    object
 2   Năm SX               727 non-null    int64
 3   Kiểu dáng            665 non-null    object
 4   Tình trạng           727 non-null    object
 5   Xuất xứ              727 non-null    object
 6   Km đã đi             725 non-null    object
 7   Tỉnh thành           727 non-null    object
 8   Quận huyện           715 non-null    object
 9   Hộp số               727 non-null    object
 10  Nhiên liệu           727 non-null    object
 11  Số tiền vay          727 non-null    object
 12  Thời gian vay        727 non-null    object
 13  Lãi xuất (%)         727 non-null    object
 14  Loại hình            727 non-null    object
 15  Giá trị xe muốn mua  727 non-null    object
dtypes: int64(1), object(15)
memory usage: 91.0+ KB

In [71]:
for i in df.columns :
    dup = df[i].duplicated().sum()
    print(f"{i} : {dup}")

Name : 153
Price : 343
Năm SX : 705
Kiểu dáng : 714
Tình trạng : 726
Xuất xứ : 725
Km đã đi : 525
Tỉnh thành : 706
Quận huyện : 674
Hộp số : 725
Nhiên liệu : 723
Số tiền vay : 726
Thời gian vay : 726
Lãi xuất (%) : 726
Loại hình : 726
Giá trị xe muốn mua : 726

In [72]:
for i in df.columns :
    print(f"{i} : {df[i].nunique()}")

Name : 574
Price : 384
Năm SX : 22
Kiểu dáng : 12
Tình trạng : 1
Xuất xứ : 2
Km đã đi : 201
Tỉnh thành : 21
Quận huyện : 52
Hộp số : 2
Nhiên liệu : 4
Số tiền vay : 1
Thời gian vay : 1
Lãi xuất (%) : 1
Loại hình : 1
Giá trị xe muốn mua : 1

In [73]:
df = df.drop(["Giá trị xe muốn mua","Loại hình","Lãi xuất (%)","Thời gian vay","Số tiền vay","Tình trạng"],axis=1)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727 entries, 0 to 726
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        727 non-null    object
 1   Price       727 non-null    object
 2   Năm SX      727 non-null    int64
 3   Kiểu dáng   665 non-null    object
 4   Xuất xứ     727 non-null    object
 5   Km đã đi    725 non-null    object
 6   Tỉnh thành  727 non-null    object
 7   Quận huyện  715 non-null    object
 8   Hộp số      727 non-null    object
 9   Nhiên liệu  727 non-null    object
dtypes: int64(1), object(9)
memory usage: 56.9+ KB

In [75]:
df.rename(columns={
    'Name': 'Name',
    'Price': 'Price',
    'Năm SX': 'Year',
    'Kiểu dáng': 'Body_Type',
    'Xuất xứ': 'Origin',
    'Km đã đi': 'Mileage',
    'Tỉnh thành': 'Province',
    'Quận huyện': 'District',
    'Hộp số': 'Transmission',
    'Nhiên liệu': 'Fuel_Type'
}, inplace=True)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727 entries, 0 to 726
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          727 non-null    object
 1   Price         727 non-null    object
 2   Year          727 non-null    int64
 3   Body_Type     665 non-null    object
 4   Origin        727 non-null    object
 5   Mileage       725 non-null    object
 6   Province      727 non-null    object
 7   District      715 non-null    object
 8   Transmission  727 non-null    object
 9   Fuel_Type     727 non-null    object
dtypes: int64(1), object(9)
memory usage: 56.9+ KB

In [77]:
df.isna().sum()

Name             0
Price            0
Year             0
Body_Type       62
Origin           0
Mileage          2
Province         0
District        12
Transmission     0
Fuel_Type        0
dtype: int64

In [78]:
df.head()

,Name,Price,Year,Body_Type,Origin,Mileage,Province,District,Transmission,Fuel_Type
0,Mercedes-Benz AMG G63 4.0 v8 2021,9 tỉ 200 triệu,2021,SUV,Nhập khẩu,30.000 km,Hà Nội,Tây Hồ,Số tự động,Máy xăng
1,Mercedes-Benz E250 2023,870 triệu,2023,Sedan,Nhập khẩu,45.000 km,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng
2,Toyota Camry 2.4G 2012,360 triệu,2012,Sedan,Trong nước,120.000 km,Hà Nội,NaN,Số tự động,Máy xăng
3,Ford Territory Titanium X 2023,770 triệu,2023,SUV,Nhập khẩu,27.000 km,Tp.HCM,Quận 10,Số tự động,Máy xăng
4,Mazda CX-5 2022,740 triệu,2022,SUV,Trong nước,30.000 km,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng

1. Name

In [79]:
df.Name.head()

0    Mercedes-Benz AMG G63 4.0 v8 2021
1              Mercedes-Benz E250 2023
2               Toyota Camry 2.4G 2012
3       Ford Territory Titanium X 2023
4                      Mazda CX-5 2022
Name: Name, dtype: object

In [80]:
df["Brand"] = df["Name"].str.strip().str.split().str[0]

In [81]:
df.head()

,Name,Price,Year,Body_Type,Origin,Mileage,Province,District,Transmission,Fuel_Type,Brand
0,Mercedes-Benz AMG G63 4.0 v8 2021,9 tỉ 200 triệu,2021,SUV,Nhập khẩu,30.000 km,Hà Nội,Tây Hồ,Số tự động,Máy xăng,Mercedes-Benz
1,Mercedes-Benz E250 2023,870 triệu,2023,Sedan,Nhập khẩu,45.000 km,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,Mercedes-Benz
2,Toyota Camry 2.4G 2012,360 triệu,2012,Sedan,Trong nước,120.000 km,Hà Nội,NaN,Số tự động,Máy xăng,Toyota
3,Ford Territory Titanium X 2023,770 triệu,2023,SUV,Nhập khẩu,27.000 km,Tp.HCM,Quận 10,Số tự động,Máy xăng,Ford
4,Mazda CX-5 2022,740 triệu,2022,SUV,Trong nước,30.000 km,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,Mazda

2.Price

In [82]:
df.Price.head()

0    9 tỉ 200 triệu
1         870 triệu
2         360 triệu
3         770 triệu
4         740 triệu
Name: Price, dtype: object

In [83]:
def convert_price(price_str):
    price_str = price_str.strip().lower()
    price = 0
    if "tỉ" in price_str:
        parts = price_str.split("tỉ")
        ty = int(parts[0].strip())
        price += ty * 1_000_000_000
        if "triệu" in parts[1]:
            trieu = int(parts[1].replace("triệu", "").strip())
            price += trieu * 1_000_000
    elif "triệu" in price_str:
        trieu = int(price_str.replace("triệu", "").strip())
        price += trieu * 1_000_000
    return price

df["price_num"] = df["Price"].apply(convert_price)

In [84]:
df.head()

,Name,Price,Year,Body_Type,Origin,Mileage,Province,District,Transmission,Fuel_Type,Brand,price_num
0,Mercedes-Benz AMG G63 4.0 v8 2021,9 tỉ 200 triệu,2021,SUV,Nhập khẩu,30.000 km,Hà Nội,Tây Hồ,Số tự động,Máy xăng,Mercedes-Benz,9200000000
1,Mercedes-Benz E250 2023,870 triệu,2023,Sedan,Nhập khẩu,45.000 km,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,Mercedes-Benz,870000000
2,Toyota Camry 2.4G 2012,360 triệu,2012,Sedan,Trong nước,120.000 km,Hà Nội,NaN,Số tự động,Máy xăng,Toyota,360000000
3,Ford Territory Titanium X 2023,770 triệu,2023,SUV,Nhập khẩu,27.000 km,Tp.HCM,Quận 10,Số tự động,Máy xăng,Ford,770000000
4,Mazda CX-5 2022,740 triệu,2022,SUV,Trong nước,30.000 km,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,Mazda,740000000

In [85]:
df = df.drop("Price",axis=1)

In [86]:
Q1 = df['price_num'].quantile(0.25)
Q3 = df['price_num'].quantile(0.75)
IQR = Q3 - Q1

df = df[(df['price_num'] >= Q1 - 1.5 * IQR) & (df['price_num'] <= Q3 + 1.5 * IQR)]

3.Year

In [87]:
df.Year.head()

1    2023
2    2012
3    2023
4    2022
5    2010
Name: Year, dtype: int64

In [88]:
df.Year = df.Year.astype(int)

In [89]:
df["age"] = 2025 - df["Year"]

4.Body_Type

In [90]:
df.Body_Type.unique()

array(['Sedan', 'SUV', 'Van/Minivan', nan, 'MPV', 'Bán tải', 'Crossover',
       'Xe tải', 'Hatchback', 'Sport Car', 'Coupe', 'Convertible',
       'Minibus'], dtype=object)

In [91]:
df.Body_Type.value_counts()

Body_Type
SUV            231
Sedan          204
Hatchback       42
Bán tải         40
MPV             39
Van/Minivan     18
Crossover       14
Xe tải           3
Coupe            3
Sport Car        2
Convertible      2
Minibus          1
Name: count, dtype: int64

In [92]:
df.loc[df["Body_Type"].isna() , "Body_Type"] = "Other"

5.Origin

In [93]:
df.Origin.isna().sum()

0

In [94]:
df.Origin.value_counts()

Origin
Trong nước    428
Nhập khẩu     219
Name: count, dtype: int64

6.Mileage

In [95]:
df.Mileage.head()

1     45.000 km
2    120.000 km
3     27.000 km
4     30.000 km
5     50.000 km
Name: Mileage, dtype: object

In [96]:
df.Mileage.isna().sum()

2

In [97]:
df.Mileage.describe()

count           645
unique          185
top       80.000 km
freq             28
Name: Mileage, dtype: object

In [98]:
df.loc[df["Mileage"].isna(),"Mileage"] = "80.000 km"

In [99]:
df['mileage_num'] = df['Mileage'].str.replace('.', '', regex=False) \
                                  .str.replace(' km', '', regex=False) \
                                  .astype(int)

In [100]:
df.head()

,Name,Year,Body_Type,Origin,Mileage,Province,District,Transmission,Fuel_Type,Brand,price_num,age,mileage_num
1,Mercedes-Benz E250 2023,2023,Sedan,Nhập khẩu,45.000 km,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,Mercedes-Benz,870000000,2,45000
2,Toyota Camry 2.4G 2012,2012,Sedan,Trong nước,120.000 km,Hà Nội,NaN,Số tự động,Máy xăng,Toyota,360000000,13,120000
3,Ford Territory Titanium X 2023,2023,SUV,Nhập khẩu,27.000 km,Tp.HCM,Quận 10,Số tự động,Máy xăng,Ford,770000000,2,27000
4,Mazda CX-5 2022,2022,SUV,Trong nước,30.000 km,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,Mazda,740000000,3,30000
5,Toyota Previa 2010,2010,Van/Minivan,Nhập khẩu,50.000 km,Tp.HCM,Quận 10,Số tự động,Máy xăng,Toyota,650000000,15,50000

In [101]:
df = df.drop("Mileage",axis=1)

In [102]:
df.columns

Index(['Name', 'Year', 'Body_Type', 'Origin', 'Province', 'District',
       'Transmission', 'Fuel_Type', 'Brand', 'price_num', 'age',
       'mileage_num'],
      dtype='object')

7.Province

In [103]:
df.Province.head()

1    Hà Nội
2    Hà Nội
3    Tp.HCM
4    Hà Nội
5    Tp.HCM
Name: Province, dtype: object

In [104]:
df.Province.isna().sum()

0

In [105]:
df.Province.nunique()

21

8.District

In [106]:
df.District.isna().sum()

12

In [107]:
df.District.describe()

count          635
unique          52
top       Cầu Giấy
freq            77
Name: District, dtype: object

In [108]:
df.loc[df["District"].isna(),"District"] = "Other"

9.Transmission

In [109]:
df.Transmission.head()

1    Số tự động
2    Số tự động
3    Số tự động
4    Số tự động
5    Số tự động
Name: Transmission, dtype: object

In [110]:
df.Transmission.isna().sum()

0

In [111]:
df.Transmission.unique()

array(['Số tự động', 'Số sàn'], dtype=object)

In [112]:
df.Transmission.value_counts()

Transmission
Số tự động    565
Số sàn         82
Name: count, dtype: int64

10.Fuel_Type

In [113]:
df.Fuel_Type.head()

1    Máy xăng
2    Máy xăng
3    Máy xăng
4    Máy xăng
5    Máy xăng
Name: Fuel_Type, dtype: object

In [114]:
df.Fuel_Type.value_counts()

Fuel_Type
Máy xăng    535
Máy dầu     104
Điện          5
Hybrid        3
Name: count, dtype: int64

In [115]:
df.head()

,Name,Year,Body_Type,Origin,Province,District,Transmission,Fuel_Type,Brand,price_num,age,mileage_num
1,Mercedes-Benz E250 2023,2023,Sedan,Nhập khẩu,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,Mercedes-Benz,870000000,2,45000
2,Toyota Camry 2.4G 2012,2012,Sedan,Trong nước,Hà Nội,Other,Số tự động,Máy xăng,Toyota,360000000,13,120000
3,Ford Territory Titanium X 2023,2023,SUV,Nhập khẩu,Tp.HCM,Quận 10,Số tự động,Máy xăng,Ford,770000000,2,27000
4,Mazda CX-5 2022,2022,SUV,Trong nước,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,Mazda,740000000,3,30000
5,Toyota Previa 2010,2010,Van/Minivan,Nhập khẩu,Tp.HCM,Quận 10,Số tự động,Máy xăng,Toyota,650000000,15,50000

In [116]:
len(df)

647

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 647 entries, 1 to 726
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          647 non-null    object
 1   Year          647 non-null    int32
 2   Body_Type     647 non-null    object
 3   Origin        647 non-null    object
 4   Province      647 non-null    object
 5   District      647 non-null    object
 6   Transmission  647 non-null    object
 7   Fuel_Type     647 non-null    object
 8   Brand         647 non-null    object
 9   price_num     647 non-null    int64
 10  age           647 non-null    int32
 11  mileage_num   647 non-null    int32
dtypes: int32(3), int64(1), object(8)
memory usage: 58.1+ KB

In [118]:
df.to_csv("data_cleaned.csv", index=False, encoding='utf-8-sig')
print("Done! Cleaned data saved successfully.")

Done! Cleaned data saved successfully.