In [15]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [16]:
df = pd.read_csv("data/cars_data.csv")
df.head()

,Name,Price,Năm SX,Kiểu dáng,Tình trạng,Xuất xứ,Km đã đi,Tỉnh thành,Quận huyện,Hộp số,Nhiên liệu,Số tiền vay,Thời gian vay,Lãi xuất (%),Loại hình,Giá trị xe muốn mua
0,Mercedes-Benz AMG G63 4.0 v8 2021,9 tỉ 200 triệu,2021,SUV,Xe cũ,Nhập khẩu,30.000 km,Hà Nội,Tây Hồ,Số tự động,Máy xăng,VNĐ,ThángNăm,ThángNăm,"Trả góp đều hàng thángTrả góp đều, lãi tính tr...",VNĐ
1,Mercedes-Benz E250 2023,870 triệu,2023,Sedan,Xe cũ,Nhập khẩu,45.000 km,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,VNĐ,ThángNăm,ThángNăm,"Trả góp đều hàng thángTrả góp đều, lãi tính tr...",VNĐ
2,Toyota Camry 2.4G 2012,360 triệu,2012,Sedan,Xe cũ,Trong nước,120.000 km,Hà Nội,NaN,Số tự động,Máy xăng,VNĐ,ThángNăm,ThángNăm,"Trả góp đều hàng thángTrả góp đều, lãi tính tr...",VNĐ
3,Ford Territory Titanium X 2023,770 triệu,2023,SUV,Xe cũ,Nhập khẩu,27.000 km,Tp.HCM,Quận 10,Số tự động,Máy xăng,VNĐ,ThángNăm,ThángNăm,"Trả góp đều hàng thángTrả góp đều, lãi tính tr...",VNĐ
4,Mazda CX-5 2022,740 triệu,2022,SUV,Xe cũ,Trong nước,30.000 km,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,VNĐ,ThángNăm,ThángNăm,"Trả góp đều hàng thángTrả góp đều, lãi tính tr...",VNĐ

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727 entries, 0 to 726
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 727 non-null    object
 1   Price                727 non-null    object
 2   Năm SX               727 non-null    int64
 3   Kiểu dáng            665 non-null    object
 4   Tình trạng           727 non-null    object
 5   Xuất xứ              727 non-null    object
 6   Km đã đi             725 non-null    object
 7   Tỉnh thành           727 non-null    object
 8   Quận huyện           715 non-null    object
 9   Hộp số               727 non-null    object
 10  Nhiên liệu           727 non-null    object
 11  Số tiền vay          727 non-null    object
 12  Thời gian vay        727 non-null    object
 13  Lãi xuất (%)         727 non-null    object
 14  Loại hình            727 non-null    object
 15  Giá trị xe muốn mua  727 non-null    object
dtypes: int64(1), object(15)
memory usage: 91.0+ KB

In [18]:
for i in df.columns :
    dup = df[i].duplicated().sum()
    print(f"{i} : {dup}")

Name : 153
Price : 343
Năm SX : 705
Kiểu dáng : 714
Tình trạng : 726
Xuất xứ : 725
Km đã đi : 525
Tỉnh thành : 706
Quận huyện : 674
Hộp số : 725
Nhiên liệu : 723
Số tiền vay : 726
Thời gian vay : 726
Lãi xuất (%) : 726
Loại hình : 726
Giá trị xe muốn mua : 726

In [19]:
for i in df.columns :
    print(f"{i} : {df[i].nunique()}")

Name : 574
Price : 384
Năm SX : 22
Kiểu dáng : 12
Tình trạng : 1
Xuất xứ : 2
Km đã đi : 201
Tỉnh thành : 21
Quận huyện : 52
Hộp số : 2
Nhiên liệu : 4
Số tiền vay : 1
Thời gian vay : 1
Lãi xuất (%) : 1
Loại hình : 1
Giá trị xe muốn mua : 1

In [20]:
df = df.drop(["Giá trị xe muốn mua","Loại hình","Lãi xuất (%)","Thời gian vay","Số tiền vay","Tình trạng"],axis=1)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727 entries, 0 to 726
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        727 non-null    object
 1   Price       727 non-null    object
 2   Năm SX      727 non-null    int64
 3   Kiểu dáng   665 non-null    object
 4   Xuất xứ     727 non-null    object
 5   Km đã đi    725 non-null    object
 6   Tỉnh thành  727 non-null    object
 7   Quận huyện  715 non-null    object
 8   Hộp số      727 non-null    object
 9   Nhiên liệu  727 non-null    object
dtypes: int64(1), object(9)
memory usage: 56.9+ KB

In [22]:
df.rename(columns={
    'Name': 'Name',
    'Price': 'Price',
    'Năm SX': 'Year',
    'Kiểu dáng': 'Body_Type',
    'Xuất xứ': 'Origin',
    'Km đã đi': 'Mileage',
    'Tỉnh thành': 'Province',
    'Quận huyện': 'District',
    'Hộp số': 'Transmission',
    'Nhiên liệu': 'Fuel_Type'
}, inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727 entries, 0 to 726
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          727 non-null    object
 1   Price         727 non-null    object
 2   Year          727 non-null    int64
 3   Body_Type     665 non-null    object
 4   Origin        727 non-null    object
 5   Mileage       725 non-null    object
 6   Province      727 non-null    object
 7   District      715 non-null    object
 8   Transmission  727 non-null    object
 9   Fuel_Type     727 non-null    object
dtypes: int64(1), object(9)
memory usage: 56.9+ KB

1. Name

In [26]:
df.Name.head()

0    Mercedes-Benz AMG G63 4.0 v8 2021
1              Mercedes-Benz E250 2023
2               Toyota Camry 2.4G 2012
3       Ford Territory Titanium X 2023
4                      Mazda CX-5 2022
Name: Name, dtype: object

In [30]:
def extract_year(r):
    parts = r["Name"].strip().rsplit(' ', 1)
    if len(parts) == 2 and parts[1].isdigit():
        return parts[1]
    else:
        return "N/A"

df["Year"] = df.apply(extract_year, axis=1)

In [32]:
df["Name"] = df["Name"].str.strip().str.rsplit(' ', n=1).str[0]

In [34]:
df["Brand"] = df["Name"].str.strip().str.split().str[0]

In [35]:
df.head()

,Name,Price,Year,Body_Type,Origin,Mileage,Province,District,Transmission,Fuel_Type,Brand
0,Mercedes-Benz AMG G63 4.0 v8,9 tỉ 200 triệu,2021,SUV,Nhập khẩu,30.000 km,Hà Nội,Tây Hồ,Số tự động,Máy xăng,Mercedes-Benz
1,Mercedes-Benz E250,870 triệu,2023,Sedan,Nhập khẩu,45.000 km,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,Mercedes-Benz
2,Toyota Camry 2.4G,360 triệu,2012,Sedan,Trong nước,120.000 km,Hà Nội,NaN,Số tự động,Máy xăng,Toyota
3,Ford Territory Titanium X,770 triệu,2023,SUV,Nhập khẩu,27.000 km,Tp.HCM,Quận 10,Số tự động,Máy xăng,Ford
4,Mazda CX-5,740 triệu,2022,SUV,Trong nước,30.000 km,Hà Nội,Nam Từ Liêm,Số tự động,Máy xăng,Mazda