In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [11]:
df = pd.read_csv("data/cars_data.csv")
df.head()

,Name,Price,Năm SX,Kiểu dáng,Tình trạng,Xuất xứ,Km đã đi,Tỉnh thành,Quận huyện,Hộp số,...,Hỗ trợ trả góp,Bảo hành máy móc động cơ 3-6 tháng,Một chủ từ đầu,Full lịch sử hãng,"Thủ tục trọn gói (Rút hồ sơ,sang tên,...)",Model xe mới,Xe có nhiều đồ chơi,Có xuất hóa đơn,Còn bảo hiểm thân vỏ,Hỗ trợ/cam kết từ người bán
0,Mercedes-Benz AMG G63 4.0 v8 2021,9 tỉ 200 triệu,2021,SUV,Xe cũ,Nhập khẩu,30.000 km,Hà Nội,Tây Hồ,Số tự động,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mercedes-Benz GLC 300 2020,1 tỉ 079 triệu,2020,SUV,Xe cũ,Nhập khẩu,49.890 km,Tp.HCM,Quận 7,Số tự động,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Hyundai Stargazer 1.5 AT Cao cấp 2022,510 triệu,2022,MPV,Xe cũ,Trong nước,70.000 km,Vĩnh Phúc,Phúc Yên,Số tự động,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BMW 430i Convertible 2023,2 tỉ 999 triệu,2023,Convertible,Xe cũ,Nhập khẩu,4.000 km,Tp.HCM,Quận 7,Số tự động,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mazda CX-5 2.0 Luxury 2024,770 triệu,2024,SUV,Xe cũ,Trong nước,20.000 km,Hà Nội,Cầu Giấy,Số tự động,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1494 entries, 0 to 1493
Data columns (total 26 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Name                                       1494 non-null   object
 1   Price                                      1494 non-null   object
 2   Năm SX                                     1494 non-null   int64
 3   Kiểu dáng                                  1385 non-null   object
 4   Tình trạng                                 1494 non-null   object
 5   Xuất xứ                                    1482 non-null   object
 6   Km đã đi                                   1482 non-null   object
 7   Tỉnh thành                                 1494 non-null   object
 8   Quận huyện                                 1361 non-null   object
 9   Hộp số                                     1494 non-null   object
 10  Nhiên liệu                                 1494 non-null   object
 11  Số tiền vay                                1494 non-null   object
 12  Thời gian vay                              1494 non-null   object
 13  Lãi xuất (%)                               1494 non-null   object
 14  Loại hình                                  1494 non-null   object
 15  Giá trị xe muốn mua                        1494 non-null   object
 16  Hỗ trợ trả góp                             2 non-null      object
 17  Bảo hành máy móc động cơ 3-6 tháng         2 non-null      object
 18  Một chủ từ đầu                             2 non-null      object
 19  Full lịch sử hãng                          2 non-null      object
 20  Thủ tục trọn gói (Rút hồ sơ,sang tên,...)  2 non-null      object
 21  Model xe mới                               2 non-null      object
 22  Xe có nhiều đồ chơi                        2 non-null      object
 23  Có xuất hóa đơn                            2 non-null      object
 24  Còn bảo hiểm thân vỏ                       2 non-null      object
 25  Hỗ trợ/cam kết từ người bán          2 non-null      object
dtypes: int64(1), object(25)
memory usage: 303.6+ KB

In [13]:
for i in df.columns :
    dup = df[i].duplicated().sum()
    print(f"{i} : {dup}")

Name : 409
Price : 945
Năm SX : 1465
Kiểu dáng : 1481
Tình trạng : 1493
Xuất xứ : 1491
Km đã đi : 1185
Tỉnh thành : 1459
Quận huyện : 1402
Hộp số : 1491
Nhiên liệu : 1490
Số tiền vay : 1493
Thời gian vay : 1493
Lãi xuất (%) : 1493
Loại hình : 1493
Giá trị xe muốn mua : 1493
Hỗ trợ trả góp : 1492
Bảo hành máy móc động cơ 3-6 tháng : 1492
Một chủ từ đầu : 1492
Full lịch sử hãng : 1492
Thủ tục trọn gói (Rút hồ sơ,sang tên,...) : 1492
Model xe mới : 1492
Xe có nhiều đồ chơi : 1492
Có xuất hóa đơn : 1492
Còn bảo hiểm thân vỏ : 1492
Hỗ trợ/cam kết từ người bán : 1492

In [14]:
for i in df.columns :
    print(f"{i} : {df[i].nunique()}")

Name : 1085
Price : 549
Năm SX : 29
Kiểu dáng : 12
Tình trạng : 1
Xuất xứ : 2
Km đã đi : 308
Tỉnh thành : 35
Quận huyện : 91
Hộp số : 3
Nhiên liệu : 4
Số tiền vay : 1
Thời gian vay : 1
Lãi xuất (%) : 1
Loại hình : 1
Giá trị xe muốn mua : 1
Hỗ trợ trả góp : 1
Bảo hành máy móc động cơ 3-6 tháng : 1
Một chủ từ đầu : 1
Full lịch sử hãng : 1
Thủ tục trọn gói (Rút hồ sơ,sang tên,...) : 1
Model xe mới : 1
Xe có nhiều đồ chơi : 1
Có xuất hóa đơn : 1
Còn bảo hiểm thân vỏ : 1
Hỗ trợ/cam kết từ người bán : 1

In [15]:
df = df.drop(["Hỗ trợ/cam kết từ người bán",
              "Còn bảo hiểm thân vỏ",
              "Có xuất hóa đơn",
              "Xe có nhiều đồ chơi",
              "Model xe mới",
              "Thủ tục trọn gói (Rút hồ sơ,sang tên,...)",
              "Full lịch sử hãng","Một chủ từ đầu",
              "Bảo hành máy móc động cơ 3-6 tháng",
              "Hỗ trợ trả góp","Giá trị xe muốn mua",
              "Loại hình",
              "Lãi xuất (%)",
              "Thời gian vay",
              "Số tiền vay",
              "Tình trạng"],axis=1)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1494 entries, 0 to 1493
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        1494 non-null   object
 1   Price       1494 non-null   object
 2   Năm SX      1494 non-null   int64
 3   Kiểu dáng   1385 non-null   object
 4   Xuất xứ     1482 non-null   object
 5   Km đã đi    1482 non-null   object
 6   Tỉnh thành  1494 non-null   object
 7   Quận huyện  1361 non-null   object
 8   Hộp số      1494 non-null   object
 9   Nhiên liệu  1494 non-null   object
dtypes: int64(1), object(9)
memory usage: 116.8+ KB

In [17]:
df.rename(columns={
    'Name': 'Name',
    'Price': 'Price',
    'Năm SX': 'Year',
    'Kiểu dáng': 'Body_Type',
    'Xuất xứ': 'Origin',
    'Km đã đi': 'Mileage',
    'Tỉnh thành': 'Province',
    'Quận huyện': 'District',
    'Hộp số': 'Transmission',
    'Nhiên liệu': 'Fuel_Type'
}, inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1494 entries, 0 to 1493
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          1494 non-null   object
 1   Price         1494 non-null   object
 2   Year          1494 non-null   int64
 3   Body_Type     1385 non-null   object
 4   Origin        1482 non-null   object
 5   Mileage       1482 non-null   object
 6   Province      1494 non-null   object
 7   District      1361 non-null   object
 8   Transmission  1494 non-null   object
 9   Fuel_Type     1494 non-null   object
dtypes: int64(1), object(9)
memory usage: 116.8+ KB

In [19]:
df.isna().sum()

Name              0
Price             0
Year              0
Body_Type       109
Origin           12
Mileage          12
Province          0
District        133
Transmission      0
Fuel_Type         0
dtype: int64

In [20]:
df.head()

,Name,Price,Year,Body_Type,Origin,Mileage,Province,District,Transmission,Fuel_Type
0,Mercedes-Benz AMG G63 4.0 v8 2021,9 tỉ 200 triệu,2021,SUV,Nhập khẩu,30.000 km,Hà Nội,Tây Hồ,Số tự động,Máy xăng
1,Mercedes-Benz GLC 300 2020,1 tỉ 079 triệu,2020,SUV,Nhập khẩu,49.890 km,Tp.HCM,Quận 7,Số tự động,Máy xăng
2,Hyundai Stargazer 1.5 AT Cao cấp 2022,510 triệu,2022,MPV,Trong nước,70.000 km,Vĩnh Phúc,Phúc Yên,Số tự động,Máy xăng
3,BMW 430i Convertible 2023,2 tỉ 999 triệu,2023,Convertible,Nhập khẩu,4.000 km,Tp.HCM,Quận 7,Số tự động,Máy xăng
4,Mazda CX-5 2.0 Luxury 2024,770 triệu,2024,SUV,Trong nước,20.000 km,Hà Nội,Cầu Giấy,Số tự động,Máy xăng

1. Name

In [21]:
df.Name.head()

0        Mercedes-Benz AMG G63 4.0 v8 2021
1               Mercedes-Benz GLC 300 2020
2    Hyundai Stargazer 1.5 AT Cao cấp 2022
3                BMW 430i Convertible 2023
4               Mazda CX-5 2.0 Luxury 2024
Name: Name, dtype: object

In [22]:
df["Brand"] = df["Name"].str.strip().str.split().str[0]

In [23]:
df.head()

,Name,Price,Year,Body_Type,Origin,Mileage,Province,District,Transmission,Fuel_Type,Brand
0,Mercedes-Benz AMG G63 4.0 v8 2021,9 tỉ 200 triệu,2021,SUV,Nhập khẩu,30.000 km,Hà Nội,Tây Hồ,Số tự động,Máy xăng,Mercedes-Benz
1,Mercedes-Benz GLC 300 2020,1 tỉ 079 triệu,2020,SUV,Nhập khẩu,49.890 km,Tp.HCM,Quận 7,Số tự động,Máy xăng,Mercedes-Benz
2,Hyundai Stargazer 1.5 AT Cao cấp 2022,510 triệu,2022,MPV,Trong nước,70.000 km,Vĩnh Phúc,Phúc Yên,Số tự động,Máy xăng,Hyundai
3,BMW 430i Convertible 2023,2 tỉ 999 triệu,2023,Convertible,Nhập khẩu,4.000 km,Tp.HCM,Quận 7,Số tự động,Máy xăng,BMW
4,Mazda CX-5 2.0 Luxury 2024,770 triệu,2024,SUV,Trong nước,20.000 km,Hà Nội,Cầu Giấy,Số tự động,Máy xăng,Mazda

2.Price

In [24]:
df.Price.head()

0    9 tỉ 200 triệu
1    1 tỉ 079 triệu
2         510 triệu
3    2 tỉ 999 triệu
4         770 triệu
Name: Price, dtype: object

In [25]:
def convert_price(price_str):
    price_str = price_str.strip().lower()
    price = 0
    if "tỉ" in price_str:
        parts = price_str.split("tỉ")
        ty = int(parts[0].strip())
        price += ty * 1_000_000_000
        if "triệu" in parts[1]:
            trieu = int(parts[1].replace("triệu", "").strip())
            price += trieu * 1_000_000
    elif "triệu" in price_str:
        trieu = int(price_str.replace("triệu", "").strip())
        price += trieu * 1_000_000
    return price

df["price_num"] = df["Price"].apply(convert_price)

In [26]:
df.head()

,Name,Price,Year,Body_Type,Origin,Mileage,Province,District,Transmission,Fuel_Type,Brand,price_num
0,Mercedes-Benz AMG G63 4.0 v8 2021,9 tỉ 200 triệu,2021,SUV,Nhập khẩu,30.000 km,Hà Nội,Tây Hồ,Số tự động,Máy xăng,Mercedes-Benz,9200000000
1,Mercedes-Benz GLC 300 2020,1 tỉ 079 triệu,2020,SUV,Nhập khẩu,49.890 km,Tp.HCM,Quận 7,Số tự động,Máy xăng,Mercedes-Benz,1079000000
2,Hyundai Stargazer 1.5 AT Cao cấp 2022,510 triệu,2022,MPV,Trong nước,70.000 km,Vĩnh Phúc,Phúc Yên,Số tự động,Máy xăng,Hyundai,510000000
3,BMW 430i Convertible 2023,2 tỉ 999 triệu,2023,Convertible,Nhập khẩu,4.000 km,Tp.HCM,Quận 7,Số tự động,Máy xăng,BMW,2999000000
4,Mazda CX-5 2.0 Luxury 2024,770 triệu,2024,SUV,Trong nước,20.000 km,Hà Nội,Cầu Giấy,Số tự động,Máy xăng,Mazda,770000000

In [27]:
df = df.drop("Price",axis=1)

In [28]:
Q1 = df['price_num'].quantile(0.25)
Q3 = df['price_num'].quantile(0.75)
IQR = Q3 - Q1

df = df[(df['price_num'] >= Q1 - 1.5 * IQR) & (df['price_num'] <= Q3 + 1.5 * IQR)]

3.Year

In [29]:
df.Year.head()

1    2020
2    2022
4    2024
5    2017
6    2019
Name: Year, dtype: int64

In [30]:
df.Year = df.Year.astype(int)

In [31]:
df["age"] = 2025 - df["Year"]

4.Body_Type

In [32]:
df.Body_Type.unique()

array(['SUV', 'MPV', 'Crossover', 'Sedan', 'Hatchback', 'Van/Minivan',
       'Bán tải', 'Xe tải', nan, 'Sport Car', 'Minibus', 'Coupe',
       'Convertible'], dtype=object)

In [33]:
df.Body_Type.value_counts()

Body_Type
SUV            441
Sedan          413
Hatchback      113
MPV            111
Bán tải         83
Van/Minivan     40
Crossover       29
Xe tải           8
Convertible      5
Sport Car        3
Minibus          3
Coupe            1
Name: count, dtype: int64

In [34]:
df.loc[df["Body_Type"].isna() , "Body_Type"] = "Other"

5.Origin

In [35]:
df.Origin.isna().sum()

11

In [36]:
df.Origin.value_counts()

Origin
Trong nước    852
Nhập khẩu     479
Name: count, dtype: int64

In [37]:
df.loc[df.Origin.isna(),"Origin"] = "Other"

In [38]:
df.Origin.value_counts()

Origin
Trong nước    852
Nhập khẩu     479
Other          11
Name: count, dtype: int64

6.Mileage

In [39]:
df.Mileage.head()

1    49.890 km
2    70.000 km
4    20.000 km
5    62.000 km
6    87.000 km
Name: Mileage, dtype: object

In [40]:
df.Mileage.isna().sum()

12

In [41]:
df.Mileage.describe()

count          1330
unique          282
top       80.000 km
freq             63
Name: Mileage, dtype: object

In [42]:
df.loc[df["Mileage"].isna(),"Mileage"] = "80.000 km"

In [43]:
df['mileage_num'] = df['Mileage'].str.replace('.', '', regex=False) \
                                  .str.replace(' km', '', regex=False) \
                                  .astype(int)

In [44]:
df.head()

,Name,Year,Body_Type,Origin,Mileage,Province,District,Transmission,Fuel_Type,Brand,price_num,age,mileage_num
1,Mercedes-Benz GLC 300 2020,2020,SUV,Nhập khẩu,49.890 km,Tp.HCM,Quận 7,Số tự động,Máy xăng,Mercedes-Benz,1079000000,5,49890
2,Hyundai Stargazer 1.5 AT Cao cấp 2022,2022,MPV,Trong nước,70.000 km,Vĩnh Phúc,Phúc Yên,Số tự động,Máy xăng,Hyundai,510000000,3,70000
4,Mazda CX-5 2.0 Luxury 2024,2024,SUV,Trong nước,20.000 km,Hà Nội,Cầu Giấy,Số tự động,Máy xăng,Mazda,770000000,1,20000
5,Mercedes-Benz GLC 250 4Matic 2017,2017,SUV,Trong nước,62.000 km,Tp.HCM,Quận 7,Số tự động,Máy xăng,Mercedes-Benz,899000000,8,62000
6,Honda HR-V L 2019,2019,Crossover,Nhập khẩu,87.000 km,Vĩnh Phúc,Phúc Yên,Số tự động,Máy xăng,Honda,550000000,6,87000

In [45]:
df = df.drop("Mileage",axis=1)

In [46]:
df.columns

Index(['Name', 'Year', 'Body_Type', 'Origin', 'Province', 'District',
       'Transmission', 'Fuel_Type', 'Brand', 'price_num', 'age',
       'mileage_num'],
      dtype='object')

7.Province

In [47]:
df.Province.head()

1       Tp.HCM
2    Vĩnh Phúc
4       Hà Nội
5       Tp.HCM
6    Vĩnh Phúc
Name: Province, dtype: object

In [48]:
df.Province.isna().sum()

0

In [49]:
df.Province.nunique()

35

8.District

In [50]:
df.District.isna().sum()

132

In [51]:
df.District.describe()

count         1210
unique          91
top       Cầu Giấy
freq           134
Name: District, dtype: object

In [52]:
df.loc[df["District"].isna(),"District"] = "Other"

9.Transmission

In [53]:
df.Transmission.head()

1    Số tự động
2    Số tự động
4    Số tự động
5    Số tự động
6    Số tự động
Name: Transmission, dtype: object

In [54]:
df.Transmission.isna().sum()

0

In [55]:
df.Transmission.unique()

array(['Số tự động', 'Số sàn', 'Số hỗn hợp'], dtype=object)

In [56]:
df.Transmission.value_counts()

Transmission
Số tự động    1169
Số sàn         172
Số hỗn hợp       1
Name: count, dtype: int64

10.Fuel_Type

In [57]:
df.Fuel_Type.head()

1    Máy xăng
2    Máy xăng
4    Máy xăng
5    Máy xăng
6    Máy xăng
Name: Fuel_Type, dtype: object

In [58]:
df.Fuel_Type.value_counts()

Fuel_Type
Máy xăng    1106
Máy dầu      218
Điện          12
Hybrid         6
Name: count, dtype: int64

In [59]:
df.head()

,Name,Year,Body_Type,Origin,Province,District,Transmission,Fuel_Type,Brand,price_num,age,mileage_num
1,Mercedes-Benz GLC 300 2020,2020,SUV,Nhập khẩu,Tp.HCM,Quận 7,Số tự động,Máy xăng,Mercedes-Benz,1079000000,5,49890
2,Hyundai Stargazer 1.5 AT Cao cấp 2022,2022,MPV,Trong nước,Vĩnh Phúc,Phúc Yên,Số tự động,Máy xăng,Hyundai,510000000,3,70000
4,Mazda CX-5 2.0 Luxury 2024,2024,SUV,Trong nước,Hà Nội,Cầu Giấy,Số tự động,Máy xăng,Mazda,770000000,1,20000
5,Mercedes-Benz GLC 250 4Matic 2017,2017,SUV,Trong nước,Tp.HCM,Quận 7,Số tự động,Máy xăng,Mercedes-Benz,899000000,8,62000
6,Honda HR-V L 2019,2019,Crossover,Nhập khẩu,Vĩnh Phúc,Phúc Yên,Số tự động,Máy xăng,Honda,550000000,6,87000

In [60]:
len(df)

1342

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1342 entries, 1 to 1493
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          1342 non-null   object
 1   Year          1342 non-null   int32
 2   Body_Type     1342 non-null   object
 3   Origin        1342 non-null   object
 4   Province      1342 non-null   object
 5   District      1342 non-null   object
 6   Transmission  1342 non-null   object
 7   Fuel_Type     1342 non-null   object
 8   Brand         1342 non-null   object
 9   price_num     1342 non-null   int64
 10  age           1342 non-null   int32
 11  mileage_num   1342 non-null   int32
dtypes: int32(3), int64(1), object(8)
memory usage: 120.6+ KB

In [62]:
df.to_csv("data_cleaned.csv", index=False, encoding='utf-8-sig')
print("Done! Cleaned data saved successfully.")

Done! Cleaned data saved successfully.